<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web chat con sockec.io</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>

    <main class="register_box">
        <h1 class="h1_discord">Web chat con socket.io</h1>
        <p  class="h3_discord">!Nos alegramos mucho de volver a verte!</p>
            <section class="input_box">
                <label for="usernameInput" class="label_discord">nombre de usuario <span>*</span></label>
                <input type="text" id="usernameInput" name="username" placeholder="ejemplo: Daniel" class="input_discord">        
                <button type="button" class="btn_discord" id="login">Entrar</button>
            </section>
    </main>
    <script src="js/register.js"></script>
</body>
</html>